# Ideas for later: https://doc.rust-lang.org/cargo/guide/continuous-integration.html
stages:
  - prep
  - check
  - build
  - test

variables:
  CARGO_HOME: .cargo/cache

cache-latest:
  stage: prep
  image: rust:latest
  script:
    - mkdir -p .cargo
    - cargo fetch --locked
    - cargo vendor --locked .cargo/vendor >> .cargo/config.toml
  artifacts:
    expire_in: 24h
    paths:
      - Cargo.lock
      - .cargo/config.toml
      - .cargo/vendor
  cache:
    key: cargo-cache-$CARGO_UPDATE_POLICY
    paths:
      - .cargo/cache
  interruptible: true

cargo-check:
  stage: check
  image: rust:latest
  script:
    - cargo check --frozen --offline
  interruptible: true

rustfmt-check:
  stage: check
  image: rust:latest
  script:
    - rustup component add rustfmt
    - cargo --frozen --offline fmt -- --check
  interruptible: true

cargo-clippy:
  stage: check
  image: rust:latest
  script:
    - rustup component add clippy
    - cargo clippy --frozen --offline --all-targets --all-features
  variables:
    RUSTFLAGS: "-Dwarnings"
  interruptible: true

rust-latest:
  stage: build
  image: rust:latest
  script:
    - cargo build --frozen --offline

cargo-test:
  stage: test
  image: rust:latest
  script:
    - cargo test --frozen --offline
