stages:
  - ci-deps
  - prep
  - check
  - build
  - test

variables:
  SCCACHE_DIR: /builds/nausicaea/rootspace/.cargo/sccache
  RUSTC_WRAPPER: .gitlab/sccache

sccache:
  stage: ci-deps
  image: alpine:latest
  script:
    - wget -O $SCCACHE_TARBALL "https://github.com/mozilla/sccache/releases/download/${SCCACHE_VERSION}/sccache-${SCCACHE_VERSION}-x86_64-unknown-linux-musl.tar.gz"
    - echo "$SCCACHE_SHA256  $SCCACHE_TARBALL" > ${SCCACHE_TARBALL}.sha256
    - sha256sum -c $SCCACHE_TARBALL.sha256
    - mkdir -p .gitlab
    - tar -C .gitlab --strip-components 1 -xf $SCCACHE_TARBALL sccache-${SCCACHE_VERSION}-x86_64-unknown-linux-musl/sccache
  variables:
    SCCACHE_TARBALL: sccache.tgz
    SCCACHE_VERSION: v0.8.0
    SCCACHE_SHA256: 2e0e7df61bc7dcf61fd65c1b345d05cd1f832598a15c6f42e7e21f86b8d39b1f
  artifacts:
    expire_in: 1 day
    paths:
      - .gitlab/sccache
  cache:
    key: sccache-$SCCACHE_VERSION
    paths: 
      - .gitlab/sccache
  interruptible: true

cache-latest:
  stage: prep
  image: rust:latest
  script:
    - mkdir -p .cargo
    - cargo fetch --locked
    - cargo vendor --locked .cargo/vendor > .cargo/config.toml
  artifacts:
    expire_in: 1 day
    paths:
      - .cargo/config.toml
      - .cargo/vendor
  cache:
    key:
      files:
        - Cargo.lock
    paths:
      - .cargo/config.toml
      - .cargo/vendor
  interruptible: true

cargo-check:
  stage: check
  image: rust:latest
  script:
    - cargo check --frozen --offline
    - ".gitlab/sccache --show-stats"
  interruptible: true
  cache:
    key: sccache-cache
    paths:
      - .cargo/sscache

rustfmt-check:
  stage: check
  image: rust:latest
  script:
    - rustup component add rustfmt
    - cargo --frozen --offline fmt -- --check
  interruptible: true

cargo-clippy:
  stage: check
  image: rust:latest
  script:
    - rustup component add clippy
    - cargo clippy --frozen --offline --all-targets --all-features -- -Dwarnings
  interruptible: true
  cache:
    key: sccache-cache
    paths:
      - .cargo/sscache

rust-latest:
  stage: build
  image: rust:latest
  script:
    - cargo build --frozen --offline
  interruptible: true
  cache:
    key: sccache-cache
    paths:
      - .cargo/sscache

cargo-test:
  stage: test
  image: rust:latest
  script:
    - cargo test --frozen --offline
  interruptible: true
  cache:
    key: sccache-cache
    paths:
      - .cargo/sscache
