[package]
name = "plyers"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
thiserror = "1.0"
anyhow = "1.0"
either = "1.0"

[dev-dependencies]
proptest = "1.0.0"
proptest-derive = "0.3.0"
