services:
  afl-main:
    image: nausicaea/rootspace-fuzz:latest
    build:
      dockerfile: ./fuzz/afl-main.Dockerfile
      context: ../
      args:
        FUZZ_TARGET: parse_ply
    command: "-c - -- /fuzz/parse_ply"
    environment:
      AFL_FINAL_SYNC: 1
      AFL_NO_AFFINITY: 1
    volumes:
      - ./in:/in:ro
      - out:/out
        #cpuset: "0"
    deploy:
      mode: global
      resources:
        limits:
          cpus: "1"
        reservations:
          cpus: "1"
  afl-san:
    image: nausicaea/rootspace-fuzz:sanitizer
    build:
      dockerfile: ./fuzz/afl-san.Dockerfile
      context: ../
      args:
        FUZZ_TARGET: parse_ply
    command: "-c - -a binary -- /fuzz/parse_ply"
    environment:
      AFL_NO_AFFINITY: 1
    volumes:
      - ./in:/in:ro
      - out:/out
    depends_on:
      - afl-main
        #cpuset: "1-2"
    deploy:
      mode: replicated
      replicas: 2
      resources:
        limits:
          cpus: "1"
        reservations:
          cpus: "1"
  afl-cmplog:
    image: nausicaea/rootspace-fuzz:cmplog
    build:
      dockerfile: ./fuzz/afl-cmplog.Dockerfile
      context: ../
      args:
        FUZZ_TARGET: parse_ply
    command: "-l 2AT -a binary -c /fuzz/parse_ply.cmplog -- /fuzz/parse_ply"
    environment:
      AFL_NO_AFFINITY: 1
    volumes:
      - ./in:/in:ro
      - out:/out
    depends_on:
      - afl-main
        #cpuset: "3-4"
    deploy:
      mode: replicated
      replicas: 2
      resources:
        limits:
          cpus: "1"
        reservations:
          cpus: "1"
  afl-compcov:
    image: nausicaea/rootspace-fuzz:compcov
    build:
      dockerfile: ./fuzz/afl-compcov.Dockerfile
      context: ../
      args:
        FUZZ_TARGET: parse_ply
    command: "-c - -a text -- /fuzz/parse_ply"
    environment:
      AFL_NO_AFFINITY: 1
    volumes:
      - ./in:/in:ro
      - out:/out
    depends_on:
      - afl-main
        #cpuset: "5-6"
    deploy:
      mode: replicated
      replicas: 2
      resources:
        limits:
          cpus: "1"
        reservations:
          cpus: "1"
volumes:
  out: {}
