services:
  afl-main:
    image: nausicaea/rootspace-fuzz:latest
    build:
      dockerfile: ./fuzz/afl-main.Dockerfile
      context: ../
      args:
        FUZZ_TARGET: ${FUZZ_TARGET}
    command: "-c - -- /fuzz/${FUZZ_TARGET}"
    environment:
      AFL_FINAL_SYNC: 1
      AFL_NO_AFFINITY: 1
    volumes:
      - ./in/${FUZZ_TARGET}:/in:ro
      - out:/out
    deploy:
      mode: global
      resources:
        limits:
          cpus: "1"
        reservations:
          cpus: "1"
  afl-asan:
    image: nausicaea/rootspace-fuzz:asan
    build:
      dockerfile: ./fuzz/afl-asan.Dockerfile
      context: ../
      args:
        FUZZ_TARGET: ${FUZZ_TARGET}
        HOST_TARGET: ${HOST_TARGET}
    command: "-c - -a binary -- /fuzz/${FUZZ_TARGET}"
    environment:
      AFL_NO_AFFINITY: 1
    volumes:
      - ./in/${FUZZ_TARGET}:/in:ro
      - out:/out
    depends_on:
      - afl-main
    deploy:
      mode: replicated
      replicas: 1
      resources:
        limits:
          cpus: "1"
        reservations:
          cpus: "1"
  afl-cmplog:
    image: nausicaea/rootspace-fuzz:cmplog
    build:
      dockerfile: ./fuzz/afl-cmplog.Dockerfile
      context: ../
      args:
        FUZZ_TARGET: ${FUZZ_TARGET}
    command: "-l 2AT -a binary -- /fuzz/${FUZZ_TARGET}"
    environment:
      AFL_NO_AFFINITY: 1
    volumes:
      - ./in/${FUZZ_TARGET}:/in:ro
      - out:/out
    depends_on:
      - afl-main
    deploy:
      mode: replicated
      replicas: 1
      resources:
        limits:
          cpus: "1"
        reservations:
          cpus: "1"
  afl-compcov:
    image: nausicaea/rootspace-fuzz:compcov
    build:
      dockerfile: ./fuzz/afl-compcov.Dockerfile
      context: ../
      args:
        FUZZ_TARGET: ${FUZZ_TARGET}
    command: "-c - -a text -- /fuzz/${FUZZ_TARGET}"
    environment:
      AFL_NO_AFFINITY: 1
    volumes:
      - ./in/${FUZZ_TARGET}:/in:ro
      - out:/out
    depends_on:
      - afl-main
    deploy:
      mode: replicated
      replicas: 1
      resources:
        limits:
          cpus: "1"
        reservations:
          cpus: "1"
volumes:
  out: {}
