services:
  afl-main:
    image: nausicaea/rootspace-fuzz:latest
    build:
      dockerfile: ./fuzz/afl.Dockerfile
      context: ../
      args:
        FUZZ_TARGET: parse_ply
    command: "-M main -c - -- /fuzz/parse_ply"
    environment:
      AFL_FINAL_SYNC: 1
    volumes:
      - ./in:/in:ro
      - out:/out
    networks:
      - fuzz
    deploy:
      mode: global
      resources:
        limits:
          cpus: "1"
        reservations:
          cpus: "1"
          memory: "50M"
  afl-san:
    image: nausicaea/rootspace-fuzz:sanitizer
    build:
      dockerfile: ./fuzz/afl-san.Dockerfile
      context: ../
      args:
        FUZZ_TARGET: parse_ply
    command: "-c - -a binary -- /fuzz/parse_ply"
    volumes:
      - ./in:/in:ro
      - out:/out
    networks:
      - fuzz
    depends_on:
      - afl-main
    deploy:
      mode: replicated
      replicas: 2
      resources:
        limits:
          cpus: "1"
        reservations:
          cpus: "1"
          memory: "50M"
  afl-cmplog:
    image: nausicaea/rootspace-fuzz:cmplog
    build:
      dockerfile: ./fuzz/afl-cmplog.Dockerfile
      context: ../
      args:
        FUZZ_TARGET: parse_ply
    command: "-l 2AT -a binary -c /fuzz/parse_ply.cmplog -- /fuzz/parse_ply"
    volumes:
      - ./in:/in:ro
      - out:/out
    networks:
      - fuzz
    depends_on:
      - afl-main
    deploy:
      mode: replicated
      replicas: 2
      resources:
        limits:
          cpus: "1"
        reservations:
          cpus: "1"
          memory: "250M"
  afl-compcov:
    image: nausicaea/rootspace-fuzz:compcov
    build:
      dockerfile: ./fuzz/afl-compcov.Dockerfile
      context: ../
      args:
        FUZZ_TARGET: parse_ply
    command: "-c - -a text -- /fuzz/parse_ply"
    volumes:
      - ./in:/in:ro
      - out:/out
    networks:
      - fuzz
    depends_on:
      - afl-main
    deploy:
      mode: replicated
      replicas: 2
      resources:
        limits:
          cpus: "1"
        reservations:
          cpus: "1"
          memory: "50M"

volumes:
  out: {}

networks:
  fuzz: {}
