services:
  afl-m1:
    image: rootspace-afl
    build:
      dockerfile: ./afl.Dockerfile
      context: ../
    command: "-M m1 -c - -- /fuzz/parse_ply"
    environment:
      AFL_FINAL_SYNC: 1
    volumes:
      - ./afl/in:/in:ro
      - out:/out
    networks:
      - afl
  afl-s1:
    image: rootspace-afl
    build:
      dockerfile: ./afl.Dockerfile
      context: ../
    command: "-S s1 -c - -a text -- /fuzz/parse_ply"
    environment:
      AFL_USE_ASAN: 1 
      AFL_USE_CFISAN: 1
    volumes:
      - ./afl/in:/in:ro
      - out:/out
    networks:
      - afl
  afl-s2:
    image: rootspace-afl
    build:
      dockerfile: ./afl.Dockerfile
      context: ../
    command: "-S s2 -l 2AT -a binary -- /fuzz/parse_ply"
    volumes:
      - ./afl/in:/in:ro
      - out:/out
    networks:
      - afl
  afl-s3:
    image: rootspace-afl
    build:
      dockerfile: ./afl.Dockerfile
      context: ../
    command: "-S s3 -c - -a binary -- /fuzz/parse_ply"
    volumes:
      - ./afl/in:/in:ro
      - out:/out
    networks:
      - afl

volumes:
  out: {}

networks:
  afl: {}
