services:
  afl-main:
    image: rootspace-fuzz:latest
    build:
      dockerfile: ./fuzz/afl.Dockerfile
      context: ../
    command: "-M main -c - -- /fuzz/parse_ply"
    environment:
      AFL_FINAL_SYNC: 1
    volumes:
      - ./in:/in:ro
      - out:/out
    networks:
      - fuzz
  afl-san:
    image: rootspace-fuzz:sanitizer
    build:
      dockerfile: ./fuzz/afl-san.Dockerfile
      context: ../
    command: "-S sanitizer -c - -a binary -- /fuzz/parse_ply"
    volumes:
      - ./in:/in:ro
      - out:/out
    networks:
      - fuzz
    depends_on:
      - afl-main
  afl-cmplog:
    image: rootspace-fuzz:cmplog
    build:
      dockerfile: ./fuzz/afl-cmplog.Dockerfile
      context: ../
    command: "-S cmplog -l 2AT -a binary -c /fuzz/parse_ply.cmplog -- /fuzz/parse_ply"
    volumes:
      - ./in:/in:ro
      - out:/out
    networks:
      - fuzz
    depends_on:
      - afl-main
  afl-compcov:
    image: rootspace-fuzz:compcov
    build:
      dockerfile: ./fuzz/afl-compcov.Dockerfile
      context: ../
    command: "-S compcov -c - -a text -- /fuzz/parse_ply"
    volumes:
      - ./in:/in:ro
      - out:/out
    networks:
      - fuzz
    depends_on:
      - afl-main

volumes:
  out: {}

networks:
  fuzz: {}
